{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="text-center">Pacientes</h2>

            <div class="d-flex justify-content-between mb-3">
                <a href="/registrarPaciente" class="btn btn-primary">Registrar Paciente</a>
                <a href="/bemvindo" class="btn btn-danger">Voltar</a>
            </div>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Ação</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                        <tr>
                            <td>{{ paciente.cpf }}</td>
                            <td>{{ paciente.nome_completo }}</td>
                            <td>{{ paciente.sexo }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/contatoModal/{{ paciente.cpf }}">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a class="btn btn-info btn-sm" href="/prontuario/{{ paciente.cpf }}">
                                    <i class="fas fa-book"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" href="/editarPaciente/{{ paciente.cpf }}">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a class="btn btn-danger btn-sm" href="/excluirPaciente/{{ paciente.cpf }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    {% if pacientes.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('pacientes.listar_consultas', page=pacientes.prev_num) }}">Anterior</a>
                        </li>
                    {% endif %}
                    {% for page_num in pacientes.iter_pages() %}
                        <li class="page-item {% if page_num == pacientes.page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('pacientes.listar_consultas', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if pacientes.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('pacientes.listar_consultas', page=pacientes.next_num) }}">Próxima</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}