{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h1 class="text-center">Bem vindo(a), {{ doctor.nome_completo }}!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i style="font-size: 50px;" class="fa-regular fa-calendar"></i>
                    <h3 class="card-title">Minhas Consultas</h3>
                    <a href="/consultas" class="btn btn-primary btn-lg">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i style="font-size: 50px;" class="fa-solid fa-book"></i>
                    <h3 class="card-title">Prontuários</h3  >
                    <a href="/prontuarios" class="btn btn-primary btn-lg">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i style="font-size: 50px;" class="fa-regular fa-user"></i>
                    <h3 class="card-title">Meu Cadastro</h3>
                    <a href="/medicoinfo" class="btn btn-primary btn-lg">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
